.header {
    padding-top: 0;
}

.more {
    display: flex;
    vertical-align: middle;
}

.more:hover {
    cursor: pointer;
    color: rgb(0, 179, 255);
}

.detail {
    margin-top: 2%;
}

.buttonGroup {
    margin: 20vh -35vw;

}

.button2 {
    margin-left: 10vw;
}

.aimPos {
    position: relative;
    top: -1px;
    left: -8px;
}


.aimPos:hover {
    cursor: pointer;
    color: rgb(12, 127, 227);
}