.backIcon,
.leading {
    display: inline-block;
    padding-top: 0;
}


.backIcon {
    width: 10%;
    font-size: 2em;
    float: right;
}

.header {
    padding-top: 0;
}

#home:hover {
    cursor: pointer;
}

.homeContent {
    overflow-x: scroll;
    white-space: nowrap;
}

.sub,
.last {
    display: inline-block;
    width: 20%;
    margin-left: 1%;
    padding: 0 2%;
}

.sub {
    border-right: 1px solid grey;
}


.info,
.products,
.comments {
    display: inline-block;
    width: 75%;
    margin-top: 2%;
    margin-left: 2%;
}

.recommend {
    float: right;
    width: 22%;
    margin-top: 2%;

}

.functional {
    position: absolute;
    left: 95%;
    top: -0.5px;
}

.like:hover,
.share:hover {
    cursor: pointer;
}



.share {
    margin-left: 15px;
}


.writeComment:where(.css-dev-only-do-not-override-htwhyh).ant-btn-primary {
    color: #fff;
    background-color: #ffac4d;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.writeComment:where(.css-dev-only-do-not-override-htwhyh).ant-btn-primary:not(:disabled):active {
    color: #fff;
    background-color: #ffac4d;
}

.writeComment:where(.css-dev-only-do-not-override-htwhyh).ant-btn-primary:not(:disabled):hover {
    color: #fff;
    background-color: #ffac4d;
}