.loginModule {
    width: 40%;
    height: 50%;
    padding: 1% 2%;
}


.loginButton1,
.loginButton2 {
    margin-left: 25%;
    margin-top: 5%;
}


.pageStyle {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(111.4deg, rgb(209, 231, 235) 7.4%, rgb(238, 219, 199) 51.4%, rgb(255, 159, 122) 82.6%, rgb(255, 109, 58) 100.2%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginModule:hover {
    box-shadow: 0 0 10px 10px rgb(238, 219, 199);
}


.setModule {
    display: none;
    width: 40%;
    padding: 1% 2%;
}